/*
 * Theme Name: Toucan
 * License: GNU General Public License v2 or later
 */


.theme-info-wrap {
    margin: 25px 40px 0 20px;
    max-width: 1050px;
    position: relative;
}
.theme-info-wrap img {
	max-width: 100%;
}

/* Clearing Floats */
.theme-info-wrap .clearfix:before, .theme-info-wrap .clearfix:after {  
	content: " ";
	display: table;  
}  
.theme-info-wrap .clearfix:after {  
	clear: both;
}  
.theme-info-wrap .clearfix {
    *zoom: 1; /* For IE 6/7 only */  
}

/* Columns */
.theme-info-wrap .columns-wrapper {
	margin-right: -4em;
}
.theme-info-wrap .columns-wrapper .column {
	float: left;
	padding-right: 4em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.theme-info-wrap .columns-wrapper .column-half {
	width: 50%;
}
.theme-info-wrap .columns-wrapper .column-third {
	width: 33.3333333333333%;
}
.theme-info-wrap .columns-wrapper .column-quarter {
	width: 25%;
}

/* Font Styles */
.theme-info-wrap h3 {
    font-size: 1.8em;
    line-height: 1.5em;
    margin: 1em 0 0.6em;
}
.theme-info-wrap h4 {
    font-size: 1.4em;
    margin: 0.2em 0;
}

/* Theme Info Header */
.theme-info-wrap h1 {
    color: #333333;
    font-size: 3.0em;
    font-weight: 400;
    line-height: 1.2em;
    margin: 0.2em 0 0 0;
}
.theme-info-wrap .theme-description {
    color: #777777;
    font-size: 1.4em;
    margin: 1em 0;
    min-height: 60px;
	font-weight: 400;
    line-height: 1.6em;
}

/* Important Links */
.theme-info-wrap .important-links p strong {
	margin-right: 1em;
}
.theme-info-wrap .important-links p a {
	padding: 0 1em;
}
.theme-info-wrap .important-links p .social-icons {
	float: right;
}
.theme-info-wrap .important-links p a span {
	display: inline-block;
	width: 24px;
	height: 24px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 24px;
	line-height: 1;
	font-family: 'Genericons';
	text-decoration: inherit;
	font-weight: normal;
	font-style: normal;
	vertical-align: text-bottom;
	color: #333;
	text-decoration: none;
}
.theme-info-wrap .important-links p a .genericon-mail:hover {
	color: #aaa;
}
.theme-info-wrap .important-links p a .genericon-facebook:hover {
	color: #3b5998;
}
.theme-info-wrap .important-links p a .genericon-twitter:hover {
	color: #00aced;
}

/* Getting Started */
#getting-started {
	margin: 1em 0;
}
#getting-started .section {
	margin: 0.5em 0 2.5em;
}
#getting-started .section .about {
	color: #777777;
    font-size: 1.2em;
    line-height: 1.6em;
}
#getting-started img {
	margin-top: 1em;
}

/* Theme Author */
#theme-author {
	margin: 1em 0;
}
#theme-author p {
	color: #777777;
    font-size: 1.2em;
    line-height: 1.6em;
}
