/*======================================
Theme Name: Toucan
Theme URI: https://gitlab.com/tmbv/wp-theme-toucan
Description: Toucan is a responsive theme.
Version: 1.16
Author: TMBV
Author URI: https://gitlab.com/tmbv
Text Domain: dukan-lite
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
======================================*/

/* CSS Reset | http://meyerweb.com/eric/tools/css/reset/ | v2.0
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#dukan_banner {
	float: right;
	margin: 0.6em 0;
}

/* General Styles
-------------------------------------------------------------- */
html {
	font-size: 100.01%;
}
body {
	font-family: 'Carme', Tahoma, Verdana, Arial;
	font-size: 0.95em;
	border: 0;
	color: #111;
	background-color: #f3f3f3;
}

/* Links */
a, a:link, a:visited{
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: none;
}

/* Form Elements */
input, textarea {
	padding: 0.7em;
	background: #fff;
	border: 1px solid #e5e5e5;
	font-size: 1.0em;
	color: #222;
	font-family: 'Carme', Tahoma, Verdana, Arial;
}
input[type="submit"] {
	color: #222;
	font-weight: bold;
	padding: 0.3em 1em;
	background: #f8f8f8;
	border: 1px solid #e5e5e5;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
input[type="submit"]:hover {
	color: #771c29;
	background: #fff;
	border: 1px solid #771c29;
	box-shadow: inset 0.3em 0 0 #771c29;
	cursor: pointer;
}

/* Clearing Floats */
.clearfix:before, .clearfix:after {  
	content: " ";
	display: table;  
}  
.clearfix:after {  
	clear: both;
}  
.clearfix {
    *zoom: 1; /* For IE 6/7 only */  
}

/* Make Form Elements responsive */
input, textarea, select {
	max-width: 100%;
}

/* Basic Structure 
-------------------------------------------------------------- */
#wrapper {
	width: 100%;
}
#header-wrap {
	background: #771c29;
}
#header {
	padding: 0em 0;
	color: #fff;
}
#wrap {
	clear: both;
	padding: 0.2em 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#content {
	float: left;
	width: 72%;
	padding-right: 2em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#sidebar {
	float: right;
	width: 28%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.container {
	max-width: 1340px;
	width: 92%;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Header
-------------------------------------------------------------- */
#logo {
	float: left;
	margin: 0.6em 0;
	max-width: 100%;
}
#logo .site-title {
	font-size: 1.5em;
	font-weight: normal;
	color: #fff;
	font-family: 'Francois One', Tahoma, Verdana, Arial;
}
#logo a, #logo a:hover {
	text-decoration: none;
}
#logo a:hover .site-title {
	color: #eee;
	text-decoration: none;
}
#logo .site-description {
	margin-top: 0.4em;
	color: #ddd;
}

/* Custom Header Image */
#custom-header-image {
	padding-top: 0.2em;
	}
#custom-header-image img {
	
	width:100%;
    max-width:1320px;
	vertical-align: top;
	height: 240px;
	padding: 0.8em;
	background: #fff;
	border: 1px solid #e5e5e5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	object-fit: contain;
}

/* Smaller screens | <1120px */
@media only screen and (max-width: 65em) {
	
	#custom-header-image {
	padding-top: 0.2em;
	}
	
	#custom-header-image img {
	
	width:100%;
    max-width:1320px;
	height: auto;
	vertical-align: top;
	padding: 0.8em;
	background: #fff;
	border: 1px solid #e5e5e5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	}
}


/* Top Navigation Menu
-------------------------------------------------------------- */
#topheader-wrap {
	background: rgba(0,0,0,0.25);
}
#topheader #header-search {
	float: right;
}
#topnav-toggle {
	display: none;
}
#topnav-menu {
	float: left;
	list-style-type: none;
	list-style-position: outside;
	position: relative;
}
#topnav-menu li{
	float: left;
	position: relative;
}
#topnav-menu a {
	display: block;
	padding: 0.8em 1em;
	text-decoration: none;
	font-size: 0.8em;
	text-transform: uppercase;
}
#topnav-menu a:link, #topnav-menu a:visited{
	color: #fff;
	text-decoration: none;
}
#topnav-menu a:hover {
	background: rgba(0,0,0,0.2); 
}
#topnav-menu li.current_page_item a, #topnav-menu li.current-menu-item a {
	text-decoration: underline;
}

/* Navigation Menu
-------------------------------------------------------------- */
#mainnav-toggle {
	display: none;
}
#mainnav-wrap {
	background: #f8f8f8;
	border-bottom: 1px solid #e5e5e5;
}
#mainnav-menu {
	float: left;
	list-style-type: none;
	list-style-position: outside;
	position: relative;
}
#mainnav-menu li{
	float:left;
	position:relative;
	border-right: 1px solid #eaeaea;
}
#mainnav-menu a {
	display: block;
	padding: 1.3em;
	text-decoration: none;
	font-size: 1.0em;
	font-family: 'Carme', Tahoma, Verdana, Arial;
	font-weight: bold;
}
#mainnav-menu a:link, #mainnav-menu a:visited {
	color: #222;
	text-decoration: none;
}
#mainnav-menu a:hover {
	background: #fff;
}
#mainnav-menu ul {
	position: absolute;
	display: none;
	z-index: 99;
	background: #fff;
	margin-left: -1px;
	padding: 1px;
	border: 1px solid #ddd;
}
#mainnav-menu ul li{
	margin: 0;
	border: none;
}
#mainnav-menu ul a {
	width: 250px;
	width: 16rem;
	padding: 1em;
	float: left;
	font-weight: normal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#mainnav-menu ul a:link, #mainnav-menu ul a:visited {
	color: #333;
	font-size: 0.9em;
	text-decoration: none;
}
#mainnav-menu ul a:hover {
	background: #f8f8f8;
}
#mainnav-menu li ul ul {
	margin: -2px 0 0;
	margin-left: 250px;
	margin-left: 16rem;
}
#mainnav-menu li:hover ul ul, #mainnav-menu li:hover ul ul ul, #mainnav-menu li:hover ul ul ul ul{
	display:none;
}
#mainnav-menu li:hover ul, #mainnav-menu li li:hover ul, #mainnav-menu li li li:hover ul, #mainnav-menu li li li li:hover ul{
	display:block;
}
#mainnav-menu li.current_page_item a, #mainnav-menu li.current-menu-item a {
	text-decoration: underline;
}
#mainnav-menu li.current_page_item ul li a, #mainnav-menu li.current-menu-item ul li a{
	text-decoration: none;
}
#mainnav-menu ul li.current_page_item a, #mainnav-menu ul li.current-menu-item a {
	text-decoration: underline;
}
#mainnav-menu ul li.current_page_item ul li a, #mainnav-menu ul li.current-menu-item ul li a{
	text-decoration: none;
}

/* Widget Styling
-------------------------------------------------------------- */
.widget {
	margin-bottom: 2em;
	padding: 1.5em;
	background: #fff;
	border: 1px solid #e5e5e5;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
.widgettitle {
	font-size: 1.0em;
	font-weight: bold;
	font-family: 'Carme', Tahoma, Verdana, Arial;
	padding: 1em;
	margin: -1.5em -1.5em 1.5em -1.5em;
	color: #333;
	background: #f8f8f8;
	border-bottom: 1px solid #e5e5e5;
	line-height: 1.5em;
}
.widget .textwidget {
	line-height: 1.5em;
}
.widget .textwidget p {
	margin-bottom: 1em;
}
.widget ul {
	line-height: 1.5em;
}
.widget ul {
	list-style: circle inside;
	color: #555;
}
.widget ul .children {
	padding: 0;
	margin: 0.5em 0 0.5em 1em;
}
.widget a:link, .widget a:visited  {
	text-decoration: none;
	color: #771c29;
}
.widget a:hover, .widget a:active {
	text-decoration: underline;
}
.widget img {
	max-width: 100%;
	height: auto;
}

/* Custom Widgets
-------------------------------------------------------------- */

/* Theme Calendar Widget */
#wp-calendar {
	margin: 0;
	width: 100%;
	color: #444;
	line-height: 1.6em;
}
#wp-calendar th,
#wp-calendar td,
#wp-calendar caption {
	text-align: left;
}
#wp-calendar caption {
	font-style: italic;
	margin-bottom: 0.1em;
}
#wp-calendar th {
	font-weight: bold;
	font-size: 0.85em;
}
#wp-calendar tfoot tr td {
	padding-top: 0.5em;
}
#wp-calendar #next {
	padding-right: 0.8em;
	text-align: right;
}

/* Posts and Pages
-------------------------------------------------------------- */
.type-post, .type-page, .type-attachment  {
	margin: 0 0 2em 0;
	border: 1px solid #e5e5e5;
	background: #fff;
}
.type-post .post-content, .type-page, .type-attachment {
	padding: 1.2em 1.6em 1.6em;
	background: #fff;
}
.type-post {
	background: #f8f8f8;
}
.post-content {
	border-top: 1px solid #e5e5e5;
}


/* Titles */
.page-title, .post-title {
	font-family: 'Francois One', Tahoma, Verdana, Arial;
	color: #771c29;
	line-height: 1.4em;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	text-decoration: none;
}
.page-title {
    font-size: 2.4em;
}
.post-title {
    font-size: 2.2em;
}
.post-title a:link, .post-title a:visited {
	color: #771c29;
	text-decoration: none;
}
.post-title a:hover span, .post-title a:active span {
	text-decoration: underline;
}
.post-title .subtitle {
	color: #777;
	font-family: 'Carme', Tahoma, Verdana, Arial;
	font-weight: normal;
	font-size: 0.55em;
	line-height: 1.3em;
	margin-bottom: 0.3em;
}
.post-title a:hover .subtitle, .post-title a:active .subtitle {
	text-decoration: underline;
}
.sticky {
	border-left: 8px solid #e5e5e5;
}

/* Page Links | wp_link_pages() */
.page-links {
	margin: 0;
	word-spacing: 1em;
}

/* Postmeta */
.postmeta-wrap {
	padding: 1em 0.6em;
}
.postmeta {
	line-height: 1.5em;
	font-size: 1.0em;
}
.postmeta span {
	display: inline-block;
	padding: 0 0.6em;
}
.postmeta a:link, .postmeta a:visited  {
	color: #333;
}
.postmeta span:before {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 24px 'Genericons';
	vertical-align: top;
	color: #333;
	margin: 0 0.2em -0.2em 0;
}
.postmeta .meta-date:before{
	content: '\f307';
}
.postmeta .meta-author:before{
	content: '\f304';
}
.postmeta .meta-comments:before{
	content: '\f300';
}
.postmeta .meta-category:before{
	content: '\f301';
}
.postmeta .meta-tags:before{
	content: '\f302';
}

/* Archive Post Layout */
.archive-post.has-post-thumbnail .post-content {
	border-top: none;
	margin-left: 33%;
	border-left: 1px solid #e5e5e5;
	width: 67%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.archive-post.has-post-thumbnail .postmeta-wrap {
	float: left;
	width: 33%;
	padding: 0.8em 0.8em 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.archive-post.has-post-thumbnail .postmeta {
	margin-top: 1em;
}
.archive-post.has-post-thumbnail .postmeta span {
	display: block;
	padding: 0.3em 0;
}

/* Post Tags */
.meta-tags {
	margin-top: 0.8em;
}
.meta-tags ul {
	float: left;
}
.meta-tags ul li {
	float: left;
	margin: 0.3em 0.3em 0 0;
}
.meta-tags ul li strong {
	line-height: 2em;
	margin-right: 0.5em;
}
.meta-tags  ul li a {
	display: inline-block;
	font-size: 0.9em;
	font-weight: bold;
	padding: 0.5em 1em;
	background: #f8f8f8;
	border: 1px solid #e5e5e5;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.meta-tags  ul li a:link, .meta-tags  ul li a:visited {
	color: #222;
	text-decoration: none;
}
.meta-tags  ul li a:hover, .meta-tags  ul li a:active{
	color: #771c29;
	background: #fff;
	border: 1px solid #771c29;
	box-shadow: inset 0.3em 0 0 #771c29;
}


/* Read more Link */
.more-link {
	display: inline-block;
	font-weight: bold;
	margin: 0.3em 0 0;
	padding: 0.5em 1em;
	text-decoration: none;
	border: 1px solid #e5e5e5;
	background: #f8f8f8;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.more-link:link, .more-link:visited {
	color: #222;
	text-decoration: none;
}
.more-link:hover, .more-link:active {
	color: #771c29;
	background: #fff;
	border: 1px solid #771c29;
	box-shadow: inset 0.3em 0 0 #771c29;
}

/* Archives and Search Heading */
.archive-title {
	font-weight: bold;
	color: #222;
	padding: 1em;
	margin-bottom: 1em;
	border: 1px solid #e5e5e5;
	background: #f8f8f8;
	line-height: 1.5em;
}

/* Post Navigation */



/* Content Pagination */
.post-pagination {
	margin-bottom: 2em;
	font-weight: bold;
	color: #222;
	padding: 1em;
	border: 1px solid #e5e5e5;
	background: #f8f8f8;
}
.post-pagination a {
	padding: 0.2em 0.5em;
	margin-right: 0.3em;
	display: inline-block;
    text-align: center;
	text-decoration: none;
	color: #771c29;
}
.post-pagination a:link, ..post-pagination a:visited {
	color: #771c29;
}
.post-pagination a:hover {
	text-decoration: underline;
}
.post-pagination .current {
	padding: 0.2em 0.5em;
	margin-right: 0.3em;
	background: #771c29;
	color: #fff;
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
	margin: 0 0 0.5em;
}

.nav-next  a {
	
	color: #771c29;
	background: #fff;
	border: 1px solid #e5e5e5;
	
    
} 
.nav-next a:hover { 
    background: #E6E6E6; 
}

.nav-next a:after {
    content: '\f105';
    padding-left: 12px;
    font-family: 'FontAwesome';
}

.nav-previous a {
	
	color: #771c29;
	background: #fff;
	border: 1px solid #e5e5e5;
	   
} 

.nav-previous  a:hover { 
    background: #E6E6E6; 
}

.nav-previous a:before {
    content: '\f104';
    padding-right: 12px;
    font-family: 'FontAwesome';
}

.navigation:after {
    content: "";
    display: table;
    clear: both;
	
}

/* Text Elements
-------------------------------------------------------------- */
.entry {
	line-height: 1.6em;
	margin: 0;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
.entry p, .comment p {
	margin: 0.75em 0;
}
.entry h1, .comment h1,
.entry h2, .comment h2,
.entry h3, .comment h3,
.entry h4, .comment h4,
.entry h5, .comment h5,
.entry h6, .comment h6 {
	color: #222;
	font-weight: bold;
	line-height: 1.0em;
	margin: 1.2em 0 0.3em;
}
.entry h1, .comment h1 {
	font-size: 3.0em;
}
.entry h2, .comment h2 {
	font-size: 2.25em;
}
.entry h3, .comment h3 {
	font-size: 1.5em;
}
.entry h4, .comment h4 {
	font-size: 1.25em;
}
.entry h5, .comment h5 {
	font-size: 1.125em;
	margin: 1.3em 0 0;
}
.entry h6, .comment h6 {
	font-size: 1.0em;
	margin: 1.3em 0 0;
}
.entry ul, .comment ul{
	list-style: square inside;
	margin: 0 0 1.5em 2em;
}
.entry ol, .comment ol{
	list-style: decimal inside;
	margin: 0 0 1.5em 2em;
}
.entry ol ol, .comment ol ol{
	list-style: upper-alpha inside;
}
.entry ol ol ol, .comment ol ol ol{
	list-style: lower-roman inside;
}
.entry ol ol ol ol, .comment ol ol ol ol{
	list-style: lower-alpha inside;
}
.entry ul ul, .comment ul ul,
.entry ol ol, .comment ol ol,
.entry ul ol, .comment ul ol
.entry ol ul, .comment ol ul {
	margin-bottom: 0.2em;
}
dl {
	margin: 1em 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 1.5em;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big, .big_tag {
	font-size: 1.3em;
}
ins {
	padding: 1px 2px;
	background: #ffa;
	text-decoration: none;
}
code, pre {
	padding: 3px 8px;
	margin: 0 1px;
	background: #eeeeee;
	color: #222;
	font-size: 0.9em;
	font-family: Monospace, "Courier New", Courier;
	overflow: auto;
	line-height: 1.4em;
}
del, strike, s{
	text-decoration: line-through;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
small {
	font-size: 0.7em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
	font-size: 0.8em;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
.entry var, .entry kbd, .entry tt, .entry .tt_tag {
	font-size: 1.1em;
	font-family: "Courier 10 Pitch", Courier, monospace;
}
blockquote {
	background: #f8f8f8;
	border: 1px solid #e5e5e5;
	border-left: 8px solid #e5e5e5;
	margin: 1.2em 0;
	padding: 0.3em 1.2em;
}
blockquote cite {
	display: block;
	margin: 0.5em 0 0 0.5em;
	color: #777;
}
.entry table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #ddd;
	margin: 1em 0;
	text-align: left;
	width: 100%;
}
.entry tr th,
.entry thead th {
	background: #e5e5e5;
	font-weight: bold;
	padding: 0.2em 1em;
}
.entry tr td {
	border-top: 1px solid #ddd;
	padding: 0.2em 1em;
}
.entry tr.alternate td {
	background: #f5f5f5;
}

/* Images | Gallery | Videos
-------------------------------------------------------------- */
article .wp-post-image {
	max-width: 100%;
	margin: 0;
	height: auto;
	vertical-align: top;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
article .entry .wp-post-image {
	margin: 1.2em 2em 1em 0;
	height: auto;
}
.entry img {
	max-width: 100%;
	height: auto;
}
.wp-caption {
	max-width: 100%;
	height: auto;
	text-align: center;
	margin: 1em 0;
}
.wp-caption-text {
	margin: 0 !important;
	padding: 0;
	font-size: 0.9em;
	text-align: center;
}
.alignleft { 
	float: left; 
	display: inline; 
	margin: 1em 2em 1em 0;
}
.alignright	{
	float: right; 
	display: inline; 
	margin: 1em 0 1em 2em;
}
.aligncenter {
	margin: 1em auto; 
	display: block;
}

/* Gallery Styling */
.gallery {
	margin: 1em auto !important;
}
.gallery-item {
	float: left;
	margin: 0.7em 0 0 0 !important;
	padding-right: 1em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.gallery img {
	margin: 0 !important;
	padding: 3px;
	border: 1px solid #e5e5e5 !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.gallery-caption {
	margin-left: 0.3em !important;
}

/* Make Vidoes responsive */
embed, iframe, object, video {
	max-width: 100%;
}

/* Image.php Navigation */
#image-nav {
	margin: 1em 0 2em;
	color: #333;
}
#image-nav .nav-previous {
	float: left;
}
#image-nav .nav-next {
	float: right;
}
#image-nav .nav-previous a, #image-nav .nav-next a {
	font-size: 0.9em;
	font-weight: bold;
	text-decoration: none;
	padding: 0.5em 1em;
	text-decoration: none;
	color: #222;
	border: 1px solid #e5e5e5;
	background: #f5f5f5;
	background-image: -webkit-linear-gradient(#fdfdfd 0%, #e8e8e8 100%); 
	background-image: -moz-linear-gradient(#fdfdfd 0%, #e8e8e8 100%); 
	background-image: -o-linear-gradient(#fdfdfd 0%, #e8e8e8 100%);
	background-image: -ms-linear-gradient(#fdfdfd 0%, #e8e8e8 100%);
	background-image: linear-gradient(#fdfdfd 0%, #e8e8e8 100%);
}
#image-nav .nav-previous a:hover, #image-nav .nav-next a:hover {
	background: #f8f8f8;
}
/* Search Form
-------------------------------------------------------------- */
.search-form {
	display: block;
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow:hidden;
}
.search-form .screen-reader-text {
	display: none;
}
.search-form .search-field {
	display: inline-block;
	margin: 0;
	width: 100%;
	padding: 0.7em 45px 0.7em 0.7em;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 1.0em;
	color: #333;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
}
.search-form .search-submit {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	background: transparent;
	padding: 0.8em 0.7em 0 0;
	cursor: pointer;
}
.search-form .search-submit .genericon-search {
	display: inline-block;
	width: 24px;
	height: 24px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 24px;
	line-height: 1;
	font-family: 'Genericons';
	text-decoration: inherit;
	font-weight: normal;
	font-style: normal;
	vertical-align: text-bottom;
	color: #777;
	content: '\f400';
}
.search-form .search-submit:hover .genericon-search {
	color: #333;
}

/* different style for searchform in topheader */
#topheader #header-search .search-form .search-field {
	padding: 0.5em 45px 0.5em 0.8em;
	background: rgba(0, 0, 0, 0.05);
	border: none;
	font-size: 0.9em;
	color: #fff;
	border-left: 1px solid rgba(255, 255, 255, 0.08);
	border-right: 1px solid rgba(255, 255, 255, 0.08);
	min-width: 300px;
}
#topheader #header-search .search-form .search-submit {
	padding: 0.5em 0.4em 0 0;
}
#topheader #header-search .search-form .search-submit .genericon-search {
	width: 18px;
	height: 18px;
	font-size: 18px;
	color: #ddd;
}
#topheader #header-search .search-form .search-submit:hover .genericon-search {
	color: #fff;
}

/* Social Icons | based upon http://kovshenin.com/2014/social-menus-in-wordpress-themes/
-------------------------------------------------------------- */
.social-icons-menu {
	list-style-type: none;
	list-style-position: outside;
	line-height: 1em;
}
.social-icons-menu li {
	float: left;
	margin: 0 1px 0.2em 0;
	padding: 0;
}
.social-icons-menu li a {
	position: relative;
	display: inline-block;
	padding: 1em;
	background: rgba(0,0,0,0.2);
	text-decoration: none;
}
.social-icons-menu li a:before {
	display: inline-block;
	color: #eee;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 24px;
	line-height: 1;
	font-family: 'Genericons';
	text-decoration: inherit;
	vertical-align: top;
}
.social-icons-menu li a:hover {
	text-decoration: none;
	background: rgba(0,0,0,0.4);
}
.social-icons-menu li a .screen-reader-text {
	display: none;
}
.social-icons-wrap .social-icons-hint {
	font-size: 0.8em;
	color: #eee;
	max-width: 300px;
	line-height: 1.2em;
}

/* Add Genericons */
.social-icons-menu li a:before { content: '\f408';} /* Default Icon */
.social-icons-menu li a[href*="codepen.io"]:before  { content: '\f216'; }
.social-icons-menu li a[href*="digg.com"]:before { content: '\f221'; }
.social-icons-menu li a[href*="dribbble.com"]:before { content: '\f201'; }
.social-icons-menu li a[href*="facebook.com"]:before { content: '\f204'; }
.social-icons-menu li a[href*="flickr.com"]:before { content: '\f211'; }
.social-icons-menu li a[href*="plus.google.com"]:before { content: '\f218'; }
.social-icons-menu li a[href*="github.com"]:before { content: '\f200'; }
.social-icons-menu li a[href*="instagram.com"]:before { content: '\f215'; }
.social-icons-menu li a[href*="linkedin.com"]:before { content: '\f207'; }
.social-icons-menu li a[href*="pinterest.com"]:before { content: '\f209'; }
.social-icons-menu li a[href*="polldaddy.com"]:before { content: '\f217'; }
.social-icons-menu li a[href*="getpocket.com"]:before { content: '\f224'; }
.social-icons-menu li a[href*="reddit.com"]:before { content: '\f222'; }
.social-icons-menu li a[href*="spotify.com"]:before { content: '\f515'; }
.social-icons-menu li a[href*="skype.com"]:before,
.social-icons-menu li a[href*="skype:"]:before { content: '\f220'; }
.social-icons-menu li a[href*="stumbleupon.com"]:before { content: '\f223'; }
.social-icons-menu li a[href*="tumblr.com"]:before { content: '\f214'; }
.social-icons-menu li a[href*="twitch.tv"]:before { content: '\f516'; }
.social-icons-menu li a[href*="twitter.com"]:before { content: '\f202'; }
.social-icons-menu li a[href*="vimeo.com"]:before  { content: '\f212'; }
.social-icons-menu li a[href*="wordpress.org"]:before,
.social-icons-menu li a[href*="wordpress.com"]:before { content: '\f205'; }
.social-icons-menu li a[href*="youtube.com"]:before { content: '\f213'; }
.social-icons-menu li a[href*="/feed"]:before,
.social-icons-menu li a[href*="/feed/"]:before,
.social-icons-menu li a[href*="?feed=rss2"]:before,
.social-icons-menu li a[href*="feedburner.google.com"]:before,
.social-icons-menu li a[href*="feedburner.com"]:before { content: '\f413'; }

/* Header Social Icons */
#header-social-icons {
	float: right;
}

/* Footer Social Icons */
#footer-social-icons {
	float: right;
}
#footer-social-icons .social-icons-menu li {
	margin: 0;
}
#footer-social-icons .social-icons-menu li a {
	padding: 0.9em;
	background: none;
}
#footer-social-icons .social-icons-menu li a:before {
	color: #eee;
	font-size: 16px;
}
#footer-social-icons .social-icons-menu li a:hover {
	background: rgba(0,0,0,0.2);
}


/* Comments
-------------------------------------------------------------- */
#comments {
	margin-bottom: 2em;
}
#comments .comments-title, #respond #reply-title {
	margin-bottom: 1em;
	padding: 1em;
	font-weight: bold;
	color: #222;
	border: 1px solid #e5e5e5;
	background: #f8f8f8;
	line-height: 1.5em;
}
#respond #reply-title {
	margin-bottom: 0;
	border-bottom: none;
}
.commentlist .comment .comment-reply-title {
	font-size: 1.0em;
}

/* Comment Listing */
.commentlist {
	display: block;
}
.commentlist .comment {
	list-style: none;
	margin-bottom: 2em;
}
.commentlist .comment .comment-body {
	display: block;
	background: #f8f8f8;
	border: 1px solid #e5e5e5;
	list-style: none;
}
.commentlist .comment .comment-content {
	margin-left: 33%;
	padding: 0.7em 1.2em 1.2em;
	width: 67%;
	border-left: 1px solid #e5e5e5;
	background: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 1.5em;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
.commentlist .comment .children {
	margin: 1.5em 0 0 1.5em;
}
.commentlist .comment .children .comment .comment-body {
	border-left: 0.5em solid #ddd;
}

.commentlist .comment .comment-meta {
	float: left;
	width: 33%;
	padding: 0.8em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.comment-meta .comment-author img {
	float: left;
	margin: 0 1em 0 0;
}
.comment-meta .comment-author img:after {
	clear: both;
}
.comment-meta .comment-author .fn {
	display: inline-block;
	font-size: 1.1em;
	font-weight: bold;
	margin: 0.3em 0 0.7em;
}
.comment-meta .comment-author .fn a:link, .comment-meta .comment-author .fn a:visited {
	text-decoration: underline;
}
.comment-meta .comment-author .fn a:hover, .comment-meta .comment-author .fn a:active {
	text-decoration: none;
}
.comment-meta .bypostauthor .fn, .comment-meta .comment-author-admin .fn{
	font-style: italic;
}
.comment-meta .commentmetadata {
	font-size: 0.8em;
}
.comment-meta .commentmetadata p {
	margin: 0.4em 0;
}
.comment-meta .commentmetadata a:link, .comment-meta .commentmetadata a:visited, 
.comment-meta .commentmetadata a:active, .comment-meta .commentmetadata a:hover {
	color: #222;
	text-decoration: none;
}
.comment-content .comment-entry .comment-reply-link {
	display: inline-block;
	font-size: 0.9em;
	font-weight: bold;
	padding: 0.3em 1em;
	background: #f8f8f8;
	border: 1px solid #e5e5e5;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.comment-content .comment-entry .comment-reply-link:link, .comment-content .comment-entry .comment-reply-link:visited {
	color: #222;
	text-decoration: none;
}
.comment-content .comment-entry .comment-reply-link:hover, .comment-content .comment-entry .comment-reply-link:active {
	color: #771c29;
	background: #fff;
	border: 1px solid #771c29;
	box-shadow: inset 0.3em 0 0 #771c29;
}

.nocomments {
	font-size: 0.9em;
	border: 1px solid #e5e5e5;
	background: #fff;
	padding: 0.2em 1em;
}
.commentlist .pingback {
	display: block;
	margin: 0.6em 0 0;
	padding: 0.8em 0 0;
	border-top: 1px solid #e5e5e5;
	list-style: none;
	line-height: 1.3em;
}

/* Comment Pagination */
.comment-pagination {
	font-size: 0.9em;
	border: 1px solid #e5e5e5;
	background: #fff;
	padding: 0.2em 1em;
	margin-bottom: 1em;
}
.comment-pagination .alignleft {
	float: left;
}
.comment-pagination .alignright {
	float: right;
}

/* Comment Form */
#respond {
	margin: 2em 0 0;
	background: #fff;
}
#commentform {
	margin: 0;
	padding: 1.5em 1.5em 0;
	border: 1px solid #e5e5e5;
}
#commentform p {
	margin: 0 0 1.5em;
}
#respond .must-log-in {
	padding: 1.5em;
	border: 1px solid #e5e5e5;
}
#commentform input[type="text"], #commentform textarea {
	display: inline-block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#commentform label {
	display: block;
	margin: 0.6em 0 0.2em;
	font-size: 0.9em;
	font-weight: bold;
}
#commentform #submit {
	display: block;
	margin: 1em 0 0;
	padding: 0.8em 4em;
}

/* Featured Content
-------------------------------------------------------------- */
#featured-content-bg {
	background: #fff;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #ddd;
}
#featured-content-wrap {
	clear: both;
	padding: 1.5em 0 0;
}
#featured-content {
	margin-right: -1em;
}
#featured-content .featured-post {
	float: left;
	padding-right: 1em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 25%;
}
#featured-content .featured-post .type-post {
	margin-bottom: 1em;
}
#featured-content .featured-post:nth-child(4n + 1) {
	clear: left;
}
#featured-content .featured-post .featured-post-thumbnail {
	padding: 0.8em;
	border-bottom: 1px solid #ddd;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #f8f8f8;
}
#featured-content .featured-post .featured-post-content {
	padding: 0.8em 1em;
	background: #fff;
}
#featured-content .featured-post .post-title {
	font-size: 1.05em;
}
#featured-content .featured-post .post-title a:hover {
	text-decoration: underline;
}


/* Footer
-------------------------------------------------------------- */
#footer-bg {
	background: #771c29;
}
#footer-wrap {
	background: rgba(0,0,0,0.25);
}
#footer {
	color: #fff;
}
#footer a {
	color: #ddd;
}
#footer #footer-text {
	float: left;
	padding: 1.05em 0;
	font-size: 0.9em;
}

/*============================ MEDIA QUERIES ============================*/

/* Small screens | <1120px */
@media only screen and (max-width: 70em) {
	.container {
		width: 94%;
	}
}
/* Smaller screens | <1120px */
@media only screen and (max-width: 65em) {
	#featured-content .featured-post {
		width: 50%;
	}
	#featured-content .featured-post:nth-child(2n + 1) {
		clear: left;
	}
	.archive-post.has-post-thumbnail .post-content, .commentlist .comment .comment-content {
		margin-left: 0;
		border-left: none;
		border-top: 1px solid #e5e5e5;
		width: 100%;
	}
	.archive-post.has-post-thumbnail .postmeta-wrap, .commentlist .comment .comment-meta  {
		float: none;
		width: 100%;
		padding: 0.8em;
	}
	.archive-post.has-post-thumbnail .postmeta-wrap .wp-post-image {
		float: left;
		margin-right: 2em;
		max-width: 50%;
	}
	.archive-post.has-post-thumbnail .postmeta {
		margin-top: 0.5em;
	}
	.comment-meta .commentmetadata p {
		display: inline;
		padding: 0 0.4em;
	}
}
/* Tablets (landscape) | <960px */
@media only screen and (max-width: 60em) {
	.container {
		width: 100%;
	}
	#wrap, #custom-header-image {
		padding: 2em 2em 0;
	}
	#featured-content-wrap {
		padding: 1.5em 1.5em 0;
	}
	#header {
		padding: 2em;
	}
	#content {
		float: none;
		padding-right: 0;
		width: 100%;
	}
	#sidebar {
		clear: both;
		float: none;
		margin: 2em 0 0;
		width: 100%;
	}
	#logo {
		float: none;
		width: 100%;
		margin: 0;
		text-align: center;
	}
	#header-social-icons {
		float: none;
		text-align: center;
		margin-top: 1.5em;
	}
	#header-social-icons .social-icons-menu li {
		float: none;
		display: inline-block;
		margin: 0 -2px 2px 0;
		line-height: 1.5em;
	}
	.archive-post.has-post-thumbnail .post-content, .commentlist .comment .comment-content {
		margin-left: 33%;
		border-left: 1px solid #e5e5e5;
		border-top: none;
		width: 67%;
	}
	.archive-post.has-post-thumbnail .postmeta-wrap, .commentlist .comment .comment-meta  {
		float: left;
		width: 33%;
		padding: 0.8em 0.8em 0;
	}
	.archive-post.has-post-thumbnail .postmeta-wrap .wp-post-image {
		float: none;
		margin-right: 0;
		max-width: 100%;
	}
	.archive-post.has-post-thumbnail .postmeta {
		margin-top: 1em;
	}
	.comment-meta .commentmetadata p {
		display: block;
		padding: 0;
	}
	#footer {
		padding: 0 2em;
	}
	
	/* Mobile Top Navigation */
	
	/* Reset */
	#topnav-wrap, #topnav, #topnav-menu, #topnav-menu li, #topnav-menu a, #topnav-menu ul {
		margin: 0;
		padding: 0;
		position: static;
		float: none;
		display: inline;
		font-size: 1.0em;
		border: none;
		box-shadow: none;
		background: none;
		top: 0;
		left: 0;
	}
	
	#topnav {
		float: none;
	}
	#topnav-toggle {
		float: left;
		display: inline-block;
		margin: 0;
		padding: 0.6em 0.8em 0.7em;
		text-decoration: none;
		font-size: 0.8em;
		color: #fff;
		background: none;
		border: none;
	}
	#topnav-toggle:hover {
		cursor: pointer;
		background: rgba(0,0,0,0.2); 
	}
	#topnav-toggle:after {
		float: left;
		margin: 0;
		-webkit-font-smoothing: antialiased;
		display: inline-block;
		content: '\f419';
		font: normal 16px/1 Genericons;
		text-decoration: inherit;
		vertical-align: text-bottom;
	}
	#topnav-menu {
		float: left;
		display: none;
		width: 100%;
		border-top: 1px solid rgba(255,255,255,0.08); 
	}
	#topnav-menu a {
		float: left;
		display: block;
		padding: 0.7em 1em;
		text-decoration: none;
		font-size: 0.8em;
		text-transform: uppercase;
		margin-bottom: 1px;
	}
	#topnav-menu a:hover {
		background: rgba(0,0,0,0.2);
	}
	#topnav-menu li.current_page_item a, #topnav-menu li.current-menu-item a {
		text-decoration: underline;
	}
	
	/* Mobile Main Navigation */
	
	/* Reset */
	#mainnav, #mainnav-menu, #mainnav-menu li, #mainnav-menu a, #mainnav-menu ul, 
	#mainnav-menu ul a, #mainnav-menu ul ul, #mainnav-menu li ul ul 
	{
		margin: 0;
		padding: 0;
		position: static;
		float: none;
		display: inline;
		font-size: 1.0em;
		border: none;
		box-shadow: none;
		background: none;
		top: 0;
		left: 0;
	}
	#mainnav-menu li:hover ul ul, #mainnav-menu li:hover ul ul ul, #mainnav-menu li:hover ul ul ul ul,
	#mainnav-menu li:hover ul, #mainnav-menu li li:hover ul, #mainnav-menu li li li:hover ul, #mainnav-menu li li li li:hover ul
	{
		display: inline;
	}
	
	#mainnav {
		margin: 1.5em 0;
		float: none;
	}
	#mainnav-toggle {
		display: block;
		margin: 0;
		padding: 1em;
		width: 100%;
		text-decoration: none;
		font-size: 1.0em;
		font-weight: bold;
		font-family: 'Carme', Tahoma, Verdana, Arial;
		text-align: left;
		line-height: 1.5;
		background: #f8f8f8;
		border: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	#mainnav-toggle:hover {
		cursor: pointer;
		background: #fff;
	}
	#mainnav-toggle:after {
		float: right;
		margin: 0;
		-webkit-font-smoothing: antialiased;
		display: inline-block;
		content: '\f419';
		font: normal 24px/1 Genericons;
		text-decoration: inherit;
		vertical-align: text-bottom;
	}
	#mainnav-menu {
		width: 100%;
		display: none;
		border-bottom: 1px solid #e5e5e5;
		background: #fff;
	}
	#mainnav-menu a {
		display: block;
		padding: 1.3em;
		text-decoration: none;
		font-size: 1.0em;
		font-weight: bold;
		border-top: 1px solid #e5e5e5;
		background: #fff;
		clear: left;
	}
	#mainnav-menu a:hover {
		background: #f8f8f8; 
	}
	#mainnav-menu ul {
		float: left;
		padding: 1em 0;
		width: 100%;
		background: #f8f8f8;
		border-top: 1px solid #e5e5e5;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	#mainnav-menu ul a {
		display: block;
		width: 100%;
		padding: 1em 1em 1em 2em;
		font-size: 0.9em;
		font-weight: normal;
		border-bottom: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	#mainnav-menu ul a:hover {
		text-decoration: underline;
	}
	#mainnav-menu ul li ul {
		float: left;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	#mainnav-menu ul ul a {
		padding-left: 4em;
	}
	#mainnav-menu ul ul ul a {
		padding-left: 6em;
	}
	#mainnav-menu li.current_page_item a, #mainnav-menu li.current-menu-item a {
		text-decoration: underline;
	}
	#mainnav-menu li.current_page_item ul li a, #mainnav-menu li.current-menu-item ul li a{
		text-decoration: none;
	}
	#mainnav-menu ul li.current_page_item a, #mainnav-menu ul li.current-menu-item a {
		text-decoration: underline;
	}
	
	#mainnav-menu .submenu-dropdown-toggle {
		float: right;
		display: block;
		margin: 0;
		padding: 1.15em 1.5em;
	}
	#mainnav-menu .submenu-dropdown-toggle:hover {
		cursor: pointer;
	}
	#mainnav-menu .submenu-dropdown-toggle:hover:before {
		color: #777;
	}
	#mainnav-menu .submenu-dropdown-toggle:before {
		font-size: 20px;
		line-height: 1;
		font-family: 'Genericons';
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-decoration: inherit;
		vertical-align: middle;
		content: '\f510';
		color: #222;
	}
	#mainnav-menu .submenu-dropdown-toggle.active:before {
		content: '\f50e';
	}
	#mainnav-menu ul .submenu-dropdown-toggle {
		padding: 0.55em 1.2em;
	}
	#mainnav-menu ul .submenu-dropdown-toggle:before {
		font-size: 16px;
	}
}

/* Tablets (portrait) | <800px */
@media only screen and (max-width: 50em) {
	#logo .site-title {
		font-size: 2.3em;
	}
	.archive-post.has-post-thumbnail .post-content, .commentlist .comment .comment-content {
		margin-left: 0;
		border-left: none;
		border-top: 1px solid #e5e5e5;
		width: 100%;
	}
	.archive-post.has-post-thumbnail .postmeta-wrap, .commentlist .comment .comment-meta  {
		float: none;
		width: 100%;
		padding: 0.8em;
	}
	.archive-post.has-post-thumbnail .postmeta-wrap .wp-post-image {
		float: left;
		margin-right: 2em;
		max-width: 50%;
	}
	.archive-post.has-post-thumbnail .postmeta {
		margin-top: 0.5em;
	}
	.comment-meta .commentmetadata p {
		display: inline;
		padding: 0 0.4em;
	}
	.page-title {
		font-size: 2.2em;
	}
	.post-title {
		font-size: 2.0em;
	}
	.entry h1, .comment h1 {
	font-size: 2.2em;
	}
	.entry h2, .comment h2 {
		font-size: 1.8em;
	}
	.entry h3, .comment h3 {
		font-size: 1.4em;
	}
	.entry tr th,
	.entry thead th {
		padding: 0.2em 0.4em;
	}
	.entry tr td {
		padding: 0.2em 0.4em;
	}
}

/* Phablets (portrait) | <640px */
@media only screen and (max-width: 40em) {
	#wrap, #custom-header-image {
		padding: 1.5em 1.5em 0;
	}
	#featured-content-wrap {
		padding: 1.3em 1.3em 0;
	}
	#header-social-icons .social-icons-menu li a {
		padding: 0.9em;
	}
	#header-social-icons .social-icons-menu li a:before {
		font-size: 20px;
		vertical-align: middle;
	}
	.type-post, .type-page, .type-attachment, .widget  {
		margin: 0 0 1.5em 0;
	}
	.page-title {
		font-size: 2.0em;
	}
	.post-title {
		font-size: 1.8em;
	}
	.post-title .subtitle {
		font-size: 0.6em;
	}
	#footer-social-icons {
		float: none;
		text-align: center;
	}
	#footer-social-icons .social-icons-menu li {
		float: none;
		display: inline-block;
		margin: 0 -2px 2px 0;
	}
	#footer #footer-text {
		float: none;
		text-align: center;
		padding: 0.7em 0 1.4em;
	}

}

/* Phablets (portrait) | <640px */
@media only screen and (max-width: 34em) {
	#featured-content .featured-post .featured-post-thumbnail {
		padding: 0.4em;
	}
	#featured-content .featured-post .featured-post-content {
		padding: 0.4em 0.6em;
	}
	#featured-content .featured-post .post-title {
		font-size: 1.0em;
	}
	.archive-post.has-post-thumbnail .postmeta-wrap .wp-post-image {
		max-width: 45%;
		margin-right: 1em;
	}
	.archive-post.has-post-thumbnail .postmeta {
		margin-top: 0;
	}
	.comment-meta .commentmetadata p {
		display: block;
		padding: 0;
	}
}

/* Smartphones | <480px */
@media only screen and (max-width: 30em) {
	#wrap, #custom-header-image, #featured-content-wrap {
		padding: 1em 1em 0;
	}
	#header-social-icons .social-icons-menu li a {
		padding: 0.7em;
	}
	#header-social-icons .social-icons-menu li a:before {
		font-size: 16px;
	}
	.type-post, .type-page, .type-attachment, .widget  {
		margin: 0 0 1em 0;
	}
	.page-title {
		font-size: 1.8em;
	}
	.post-title {
		font-size: 1.6em;
	}
	.post-title .subtitle {
		font-size: 0.65em;
	}
	#logo .site-title {
		font-size: 2.0em;
	}
	#topheader #header-search .search-form .search-field {
		min-width: 0;
	}
	.alignright, .alignleft {
		float: none;
		margin: 1em 0;
	}
	.postmeta span, .postinfo span {
		display: block;
	}
	.postinfo .meta-comments {
		float: none;
	}
}

/* Smartphones | <480px */
@media only screen and (max-width: 28em) {
	.archive-post.has-post-thumbnail .postmeta-wrap .wp-post-image {
		float: none;
		margin-right: 0;
		max-width: 100%;
	}
	.archive-post.has-post-thumbnail .postmeta {
		margin-top: 1em;
	}
	#featured-content .featured-post .type-post {
		border: none;
	}
	#featured-content .featured-post .featured-post-thumbnail {
		padding: 0;
		background: #fff;
		border: none;
	}
	#featured-content .featured-post .featured-post-content {
		padding: 0.4em 0.1em;
		border: none;
	}
	#featured-content .featured-post .post-title {
		font-size: 0.95em;
	}
}

/* Big Screens Navi Fix | >720px */
@media only screen and (min-width: 60em) {
	/* ensure #nav is visible on desktop version */
	#topnav-menu, #mainnav-menu {
		display: block !important;
	}
	#mainnav-menu li.menu-item:hover a {
		background: #fff;
	}
	#mainnav-menu li.menu-item:hover ul a:hover {
		background: #f8f8f8;
	}
}

span.bracket:before {
  content: '['
}
span.bracket:after {
  content: ']'
}

/* Woocommerce Support */

.woocommerce-product-details__short-description {
border-radius: 0.5em;
    padding: 0.5em;
    border: 0px solid #4c69b5;
	margin-bottom:  1em;
	margin-top:  0.5em;
}

.woocommerce-product-details__short-description ul li {
list-style: disc;
line-height: 1.2em;
margin-bottom:  0.5em;
}

.woocommerce-Tabs-panel--description{
	border-radius: 0.5em;
    padding: 0.5em;
    border: 0px solid #4c69b5;
	margin-bottom:  1em;
	margin-top:  0.5em;
}

.woocommerce-Tabs-panel--description p {
	
    padding: 0.5em;
}
.woocommerce-Tabs-panel--description h2 {
	
    font-size: 1.3em;
	color: #aa9d71;
}
.woocommerce-Tabs-panel--description ul li {
	list-style: disc;
	line-height: 1.2em;
	margin-bottom:  0.5em;
	padding: 0.25em;
}
.woocommerce.single-product .product .product_title {
  font-family: 'Open Sans', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 2em;
  line-height: 1em;
  color: #462913;
  margin-bottom:  0.3em;
}


.woocommerce.single-product .product .amount {
  color: #aa9d71;
  font-family: 'Open Sans', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 1.5em;
  
 
}
.woocommerce.single-product .product .summary > div > p {
  color: #555;
  font-family: 'Helvetica Neue', arial, sans-serif;
}

.single-product .product_meta {
    font-size: 11px;
	padding: 0.2em;
    
	}
	
	.sku_wrapper {
display:none;
}
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

